@import "../inc/scss/style";

header,
section {
	@include outer-container();
}

header {
	margin-top: 20px;
}

#how-do {
	position: fixed;
	top: 0;
	width: 100%;

	font-size: small;
	text-align: center;

	div {
		overflow: hidden;
		white-space: nowrap;
	}

	[class*=bp-] { display: none; }
	.default { background-color: LightSalmon; }

	@include media($s) {
		.default { display: none; }
		.bp-s { display: block; background-color: orange; }
	}
	@include media($s2) {
		font-size: 0.5em;
		.bp-s { display: none; }
		.bp-s2 { display: block; background-color: yellow; }
	}
	@include media($m) {
		font-size: 0.75em;
		.bp-s2 { display: none; }
		.bp-m { display: block; background-color: LightSkyBlue; }
	}
	@include media($l) {
		.bp-m { display: none; }
		.bp-l { display: block; background-color: Aqua; }
	}
	@include media($l2) {
		font-size: 1em;
		.bp-l { display: none; }
		.bp-l2 { display: block; background-color: LightSteelBlue; }
	}
	@include media($l3) {
		.bp-l2 { display: none; }
		.bp-l3 { display: block; background-color: violet; }
	}
	@include media($xl) {
		.bp-l3 { display: none; }
		.bp-xl { display: block; background-color: hotpink; }
	}
	@include media($xxl) {
		.bp-xl { display: none; }
		.bp-xxl { display: block; background-color: LightBlue; }
	}

	@include media($xxxl) {
		.bp-xxl { display: none; }
		.bp-xxxl { display: block; background-color: yellowgreen; }
	}
}

// grids
.unit-fill {
	background-color: $base-accent-color;
	color: $white;
	text-align: center;
	margin-bottom: $space;
	padding: $pad;
}
.unit-fill2 {
	background-color: $white;
	color: $base-font-color;
}

footer {
	border-top: 1px solid $grey;
	margin-top: $space;
	padding: $pad 0;
	text-align: center;
}