ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;

  &.default-ul {
    list-style-type: disc;
    margin-bottom: $space;
    padding-left: $space;
  }

  &.default-ol {
    list-style-type: decimal;
    margin-bottom: $space;
    padding-left: $space;
  }
}

dl {
  margin-bottom: $space;

  dt {
    font-weight: bold;
    margin-top: $space;
  }

  dd {
    margin: 0;
  }
}
