// Typography
///////////////////////////////////////////////////////////////////////////////
$sans-serif				: $helvetica;
$serif					: $georgia;

$base-font-family		: $sans-serif;
$header-font-family		: $base-font-family;

// Sizes
///////////////////////////////////////////////////////////////////////////////
$base-font-size			: 1em;
$base-line-height		: $base-font-size * 1.5;
$base-border-radius		: em(3);

// Colors
///////////////////////////////////////////////////////////////////////////////

$blue					: #477DCA;

// greyscale
$black					: #000;
$darkestgrey			: lighten($black, 15%);
$darkergrey				: lighten($black, 25%);
$darkgrey				: lighten($black, 35%);
$grey					: lighten($black, 50%);
$lightgrey				: lighten($black, 80%);
$lightergrey			: lighten($black, 95%);
$white					: #fff;

// Body Color
$base-body-color		: $white;

// Font Colors
$base-font-color		: $darkergrey;
$base-accent-color		: $blue;

// Text Link Colors
$base-link-color		: $base-accent-color;
$hover-link-color		: darken($base-accent-color, 15);

// Border color
$base-border-color		: $lightgrey;

// Flash Colors
$error-color			: #FBE3E4;
$notice-color			: #FFF6BF;
$success-color			: #E6EFC2;

// Brands
$brand-facebook			: #03539e;
$brand-twitter			: #35ccff;
$brand-linkedin			: #217bc1;

// Spacing
///////////////////////////////////////////////////////////////////////////////
$space					: 1rem;
$space-and-half			: $space*1.5;
$space-double			: $space*2;
$space-triple			: $space*3;
$space-quad				: $space*4;
$space-half				: $space/2;
$space-quarter			: $space/4;

$pad					: 1rem;
$pad-and-half			: $pad*1.5;
$pad-double				: $pad*2;
$pad-triple				: $pad*3;
$pad-quad				: $pad*4;
$pad-half				: $pad/2;
$pad-quarter			: $pad/4;
