/*	=====================================================
	 Bourbon Neat // default
	================================================== */
@import "neat/neat-helpers";

$visual-grid: true; // dev only
//$gutter: em(5); // 30px;
$grid-columns: 12;

$s:		new-breakpoint(min-width em(401) 12);
$s2: 	new-breakpoint(min-width em(476) 12);
$m: 	new-breakpoint(min-width em(555) 12); // 748
$l:		new-breakpoint(min-width em(768) 12);
$l2:	new-breakpoint(min-width em(800) 12);
$l3:	new-breakpoint(min-width em(1056) 12);
$xl:	new-breakpoint(min-width em(1168) 24);
$xxl:	new-breakpoint(min-width em(1424) 24);
$xxxl:	new-breakpoint(min-width em(1488) 24);

$max-width: em(1488); // em(1088);

// Typography
///////////////////////////////////////////////////////////////////////////////
$sans-serif: $helvetica;
$serif: $georgia;

$base-font-family: $sans-serif;
$header-font-family: $base-font-family;

// Sizes
///////////////////////////////////////////////////////////////////////////////
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.5;
$base-border-radius: em(3);

// Colors
///////////////////////////////////////////////////////////////////////////////

$blue: #477DCA;
$black: #000;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;

// greyscale
$black: #000;
$darkestgrey: lighten($black, 15%);
$darkergrey: lighten($black, 25%);
$darkgrey: lighten($black, 35%);
$grey: lighten($black, 50%);
$lightgrey: lighten($black, 80%);
$lightergrey: lighten($black, 95%);
$white: #fff;

// Font Colors
$base-font-color: $darkergrey;
$base-accent-color: $blue;

// Text Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);

// Border color
$base-border-color: $lightgrey;

// Flash Colors
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;

// Brands
$brand-facebook			: #03539e;
$brand-twitter			: #35ccff;
$brand-linkedin			: #217bc1;

// Spacing
///////////////////////////////////////////////////////////////////////////////
$space					: 1rem;
$space-and-half			: $space*1.5;
$space-double			: $space*2;
$space-triple			: $space*3;
$space-quad				: $space*4;
$space-half				: $space/2;
$space-quarter			: $space/4;

$pad					: 1rem;
$pad-and-half			: $pad*1.5;
$pad-double				: $pad*2;
$pad-half				: $pad/2;
$pad-quarter			: $pad/4;
